a {
    color:black;
    text-decoration: none;
    font-size: 1em;
    font-family: ' manrope' , sans serif ;
    color: #242424;
}
.important {
    color: #A5B4FC;
}
h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #A5B4FC ;
}
p {
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #f9f8ff;
      
}
* {
    margin: 0;
}
header,
footer {
padding: 20px 50px 20px 50px;
}
section {
    padding: 80px;
}
h2 {
    color: #f9f8ff;
  }  
li {
    font-size: 1em;
    font-family: 'manrope' , sans serif;
    color: #f9f8ff;
}
.pied-de-page {
    background-color: white;
}
.en-tete {
    background-color: white;
}
body {
    color: #1F2039;
    background-color: #1f2039;
}
.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
}
.lien:hover {
    opacity: 0.5;
}
.carre-contenu {
    border-bottom: 1px solid #8e86b5;
    border-right: 1px #8e86b5;
    padding: 50px;
}
.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}
.a-propos-main {
    width: 50%;
    margin: auto;
}
a:hover {
    text-decoration: underline;
}
footer,
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.accueil-photos {
    background-color: white;
    padding: 80px;
  }
  
  .accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .accueil-photos div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .accueil-introduction {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: auto;
  }
  
.portfolio-section-photos {
    background-color: white;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }
  
  .grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
  }
  
  .grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
  }
  
  .grid-paysages img,
  .grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }